
.khan {
	background-color: pink;
}

p1 {
	background-color: peach;
	font-family: "Lucida Console", ;
	text-align: center;
	font-size: 20px;

}
 p {
	background-color: pink;
	border: 1;
	margin: none;
}
h1 {
	color: none;
	text-align: center;
	background-color: wheat;
	margin: 10px .5px 10px .5px;


}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 220%;
	text-align: center;
}